@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* noselect */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Bai Jamjuree', sans-serif;
}

.navbar {
    background-color: #fff;
    box-shadow: 0px 4px 10px#999;
}

/* .audio-player {
    position: relative;
}
  
.audio-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-repeat {
    margin-right: auto;
}

.audio-play {
    margin: 0 20px;
}

.audio-volume {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.audio-volume-slider {
    margin-left: 10px;
    -webkit-appearance: none;
    height: 5px;
    width: 50px;
    background: #ddd;
    border-radius: 2.5px;
    outline: none;
}

.audio-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
} */

#offcanvasRightLabel {
    font-size: 24px;
    color: #204FE0;
    font-weight: 600;
}

.offcanvas-header .btn-close {
    font-size: 24px;
}

.offcanvas-body a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.offcanvas-header {
    padding: 50px 1rem !important;
}

.offcanvas-body p {
    background-color: #204FE0;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all .35s ease-in;
    border: 5px solid #204FE0;
}

.offcanvas-body p:hover {
    background-color: #fff;
    color: #204FE0;
    border: 5px solid #204FE0;
}

.start_text {
    font-size: 32px;
    font-weight: 600;
}

.img_banner {
    margin: 100px auto;
}

.fa-angle-left {
    font-size: 36px;
    color: #204FE0;
}

.menu_bar {
    cursor: pointer;
}

.fa-bars {
    font-size: 36px;
    color: #204FE0;
}

.btn_launch {
    background-color: #204FE0;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    border: 5px solid #204FE0;
    border-radius: 50px;
    text-decoration: none;
    transition: all .35s ease-in;
}

.btn_launch:hover {
    background-color: #fff;
    color: #204FE0;
    border: 5px solid #204FE0;
}

footer {
    border-top: 2px solid #999;
    padding: 10px;
    margin: 50px auto 10px auto;
    /* height: 50px; */
}

.text_foot {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #204FE0;
}

.btn_menu {
    padding: 20px;
    background-color: #fff;
    border: 5px solid #204FE0;
    font-size: 24px;
    text-decoration: none;
    color: #204FE0;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 4px 10px#999;
    transition: all .35s ease-in;
}

.menu_1:hover {
    background-color: #204FE0;
    border: 5px solid #204FE0;
    color: #fff;
}

.menu_2:hover {
    background-color: #204FE0;
    border: 5px solid #204FE0;
    color: #fff;
}

.menu_3:hover {
    background-color: #204FE0;
    border: 5px solid #204FE0;
    color: #fff;
}

.video_canvas {
    height: 150px;
    margin: 50px auto;
    border: 5px solid #204FE0;
}

#text_fromLocal {
    overflow-y: scroll;
    height: 200px;
    font-size: 16px;
    text-align: center;
    -ms-overflow-style: none;
}

#text_fromLocal-webkit-scrollbar {
    display: none;
}

#text {
    font-size: 24px;
    font-weight: 600;
    text-align: center !important;
    padding: 50px 20px;
}

.btn_dropdown,
.btn_dropdown:hover {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    background-color: #fff;
    color: #204FE0;
    border: 5px solid #204FE0;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    vertical-align: middle;
}

.dropdown-item:hover {
    background-color: #204FE0 !important;
    color: #fff !important;
}

.fa-caret-down:before {
    font-size: 40px;
    color: #204FE0;
}

.dropdown-item {
    font-size: 24px !important;
}

.btn_start {
    padding: 10px;
    border: 5px solid #204FE0;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #204FE0;
    transition: all .35s ease-in;
    margin: 200px auto;
}

.btn_start:hover {
    background-color: #fff;
    border: 5px solid #204FE0;
    color: #204FE0;
}

.btn_save {
    background-color: #204FE0;
    border: 5px solid #204FE0;
    color: #fff;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    transition: all .35s ease-in;
    padding: 10px;
    cursor: pointer;
}

.btn_back {
    cursor: pointer;
}

.btn_save:hover {
    background-color: #fff;
    border: 5px solid #204FE0;
    color: #204FE0;
}

.btn_cancle {
    background-color: #fff;
    border: 5px solid #204FE0;
    padding: 10px;
    color: #204FE0;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    transition: all .35s ease-in;
    text-decoration: none;
}

.form-label {
    font-size: 24px;
    font-weight: 600;
}

.custom-file-input {
    width: 100%;
    background-color: #204FE0;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: 5px solid #204FE0;
}

.custom-file-input:hover {
    transition: all .35s ease-in-out;
    background-color: transparent;
    border: 5px solid #204FE0;
}

.custom-file-input:hover span {
    color: #204FE0;
}

.form-control {
    font-size: 24px !important;
    font-weight: 600;
    border: 5px solid #999 !important;
    border-radius: 10px !important;
}

.form-control:focus {
    outline: none;
    color: #999;
    border: 5px solid #204FE0 !important;
}

.form-control::before {
    outline: 5px solid #204FE0;
}

#text_save,
#text_preview {
    font-size: 18px;
}

.not_require {
    font-size: 18px;
}

.btn_listen {
    width: 100%;
    background-color: #204FE0;
    border: 5px solid #204FE0;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    transition: all .35s ease-in;
}

.btn_listen:hover {
    background-color: #fff;
    border: 5px solid #204FE0;
    color: #204FE0;
}

.text_re {
    overflow-y: scroll;
    height: 400px;
    font-size: 36px;
    -ms-overflow-style: none;
    border-radius: 10px;
    padding: 10px;
}

.text_re::-webkit-scrollbar {
    display: none;
}

.tone_text {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.get_pdf {
    font-size: 24px;
}

.card {
    border: 5px solid #204FE0 !important;
    border-radius: 10px !important;
}
.preview_pdf{
    height: 150px;
    object-fit: contain;
}
.btn_show {
    background-color: #204FE0;
    border: 5px solid #204FE0;
    padding: 10px;
    color: #fff;
    transition: all .35s ease-in;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
}

.btn_show:hover {
    background-color: #fff;
    border: 5px solid #204FE0;
    color: #204FE0;
}

.btn_edit {
    background-color: #204FE0;
    color: #fff;
    border: 5px solid #204FE0;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    transition: all .35s ease-in;
    text-decoration: none;
    vertical-align: middle;
}

.btn_edit:hover {
    background-color: #fff;
    color: #204FE0;
    border: 5px solid #204FE0;
}

.btn_delete {
    background-color: #fff;
    border: 5px solid #204FE0;
    color: #204FE0;
    border-radius: 10px;
    padding: 10px;
    transition: all .35s ease-in;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

#result_search {
    font-size: 24px;
    padding-top: 20px;
}

#searchbar {
    background-color: #fff;
    color: #204FE0;
    border: 5px solid #204FE0;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    font-size: 24px;
}

#searchbar::placeholder {
    color: #204FE0;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .start_text {
        font-size: 48px;
    }
    #searchbar {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
