{% extends 'header-layout.html' %} {% block content %}
<div class="container pt-5">
  <div class="row mt-5">
    <div class="col-10 col-lg-6 d-flex flex-column mx-auto">
      <a href="/detect" class="btn_menu menu_1 my-5">
        <i class="fa-solid fa-camera"></i>
        <p>สแกนข้อความผ่านกล้อง</p>
      </a>
      <a href="/pdf_convert" class="btn_menu menu_2 mb-5">
        <i class="fa-solid fa-file-pdf"></i>
        <p>แปลงไฟล์ PDF เป็นข้อความ</p>
      </a>
      <a href="/library" class="btn_menu menu_3">
        <i class="fa-solid fa-book"></i>
        <p>ห้องสมุดของคุณ</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
