<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library PDF To Speech</title>

    <!-- fav-icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/newlogo.png') }}" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <nav class="navbar fixed-top mb-5">
        <div class="container-fluid mx-2">
            <a href="/homepage" class="navbar-brand">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            <div class="d-flex menu_bar">
                <i class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">เมนู</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <a href="/detect" class="">
                            <p><i class="fa-solid fa-camera"></i> สแกนข้อความผ่านกล้อง </p>
                        </a>
                        <a href="/pdf_convert" class="">
                            <p><i class="fa-solid fa-file-pdf"></i> แปลงไฟล์ PDF เป็นข้อความ</p>
                        </a>
                        <a href="/library" class="">
                            <p><i class="fa-solid fa-book"></i> ห้องสมุดของคุณ</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container pt-5">
        <div class="row mt-5 text-center">
            <h1 class="start_text pt-3">ห้องสมุดของคุณ</h1>
            <p class="text-secondary pt-3">
                ห้องสมุดที่เก็บรวบรวมข้อมูลจากการแปลงไฟล์ PDF <br> เป็นข้อความเสียงของคุณไว้ที่นี่
            </p>
            <div class="col-12">
                <input type="text" name="search" id="searchbar" onkeyup="search_topic()" placeholder="ค้นหาหัวข้อของรายการ">
                <div id="result_search"></div>

                <div class="row justify-content-start">
                    {% for row in data %}
                    <div class="col-12 col-lg-3 data_set" data-topic="{{ row[1] }}">
                        <div class="card p-3 my-2 w-100">
                            <div class="box_top d-flex justify-content-between align-items-center pb-2">
                                <h1 class="card-title">รายการที่: {{ row[0] }}</h1>
                            </div>
                            <hr>
                            <h3 id="topic" class="text-start">หัวข้อ: {{ row[1] }}</h3>
                            <h5 id="subtitle" class="text-start text-secondary">รายละเอียด: {{ row[2] }}</h5>

                            <div class="card-body p-0 pb-2 show_content">
                                <img class="preview_pdf w-50" id="preview_image" src="" alt="">
                                <p class="d-none" id="file_name">{{row[4]}}</p>
                            </div>

                            <div class="created_by text-start">
                                <h5 id="created_by" class="text-secondary py-3">จัดทำโดย: {{row[5]}}</h5>
                            </div>
                            <a href="{{ url_for('show', id=row[0]) }}" class="btn_show w-100">รายละเอียด</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <footer class="d-flex justify-content-between align-items-center px-3">
        <a class="navbar-brand">
            <img src="{{ url_for('static', filename='images/newlogo.png') }}" alt="">
        </a>
        <p class="text_foot">© 2022 SNP65 , All Rights Reserved</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function search_topic() {
        let input = document.getElementById('searchbar').value.toLowerCase();
        let dataSets = document.getElementsByClassName('data_set');
        let result = document.getElementById('result_search');
        result.textContent = "";
        let found = false;

        for (let i = 0; i < dataSets.length; i++) {
            let topic = dataSets[i].getAttribute('data-topic').toLowerCase();
            if (topic.includes(input)) {
                dataSets[i].style.display = 'block';
                found = true;
            } else {
                dataSets[i].style.display = 'none';
            }
        }

        if (!found) {
            result.style.display = "block";
            result.classList.add('alert', 'alert-danger', 'mt-3');
            result.textContent = "ไม่พบหัวข้อของรายการ";
        } else {
            result.style.display = "none";
        }
    }

    const pdfjsLib = window['pdfjs-dist/build/pdf'];
    pdfjsLib.GlobalWorkerOptions.workerSrc = '//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.js';

    document.querySelectorAll('#file_name').forEach((fileNameElement) => {
        const fileName = fileNameElement.innerHTML;
        const fileUrl = `/uploads/${fileName}`;
        const canvasId = `canvas-${fileName}`;

        const imageElement = fileNameElement.closest('.card').querySelector('.preview_pdf');
        imageElement.src = fileUrl;

        const canvas = document.getElementById(canvasId);

        pdfjsLib.getDocument(fileUrl).promise.then((pdf) => {

            pdf.getPage(1).then((page) => {
                const scale = 1.5;
                const viewport = page.getViewport({ scale });

                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderContext = {
                    canvasContext: context,
                    viewport,
                };
                page.render(renderContext).promise.then(() => {
                    const imageDataURL = canvas.toDataURL();
                    imageElement.src = imageDataURL;
                    canvas.remove();
                })
            });
        });
    });
</script>