<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Information PDF Convert</title>

    <!-- fav-icon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='/images/newlogo.png') }}"
      type="image/x-icon"
    />
    <!-- style.css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <!-- boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <nav class="navbar fixed-top mb-5">
      <div class="container-fluid mx-2">
        <a class="navbar-brand btn_back" id="btn_back">
          <i class="fa-solid fa-angle-left"></i>
        </a>
        <div class="d-flex menu_bar">
          <i
            class="fa-solid fa-bars"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          ></i>

          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
          >
            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">เมนู</h5>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <a href="/detect" class="">
                <p><i class="fa-solid fa-camera"></i> สแกนข้อความผ่านกล้อง</p>
              </a>
              <a href="/pdf_convert" class="">
                <p>
                  <i class="fa-solid fa-file-pdf"></i> แปลงไฟล์ PDF เป็นข้อความ
                </p>
              </a>
              <a href="/library" class="">
                <p><i class="fa-solid fa-book"></i> ห้องสมุดของคุณ</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container pt-5">
      <div class="row mt-5 text-center">
        <h1 class="start_text pt-3">แปลงไฟล์ PDF</h1>
        <p class="text-secondary pt-3">
          แปลงไฟล์เอกสาร PDF เป็นข้อความเพื่อจัดเก็บข้อมูล <br />
          ต่างๆใน “ห้องสมุดของคุณ” และสามารถ<br />
          ฟังเสียงย้อนหลังได้
        </p>
        <!-- <form enctype="multipart/form-data" class="text-start"> -->
        <div class="text-start">
          <div class="mb-3">
            <label for="topic" class="form-label">หัวข้อ</label>
            <input
              type="text"
              class="form-control"
              id="topic"
              name="topic"
              required
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label"
              >รายละเอียด (ไม่บังคับ)</label
            >
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">จัดทำโดย (ชื่อของคุณ)</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>
          <div class="mb-3">
            <label for="text_fromLocal" class="form-label">ข้อความของคุณ</label>
            <p id="text_fromLocal"></p>
          </div>
          <button type="submit" id="btn_save" class="btn_save w-100">
            บันทึกข้อมูล
          </button>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <footer class="d-flex justify-content-between align-items-center px-3">
      <a class="navbar-brand">
        <img
          src="{{ url_for('static', filename='images/newlogo.png') }}"
          alt=""
        />
      </a>
      <p class="text_foot">© 2022 SNP65 , All Rights Reserved</p>
    </footer>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 "
    crossorigin="anonymous "
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    const back_home = document.getElementById("btn_back");
    $(back_home).click(function (e) {
      e.preventDefault();
      localStorage.removeItem("text");
      localStorage.removeItem("filePath");
      window.location.href = "/pdf_convert";
    });

    const thaiMonths = [
      "มกราคม",
      "กุมภาพันธ์",
      "มีนาคม",
      "เมษายน",
      "พฤษภาคม",
      "มิถุนายน",
      "กรกฎาคม",
      "สิงหาคม",
      "กันยายน",
      "ตุลาคม",
      "พฤศจิกายน",
      "ธันวาคม",
    ];

    const today = new Date();
    const monthIndex = today.getMonth();

    const thaiMonth = thaiMonths[monthIndex];

    const day = today.getDate();
    const year = today.getFullYear() + 543;

    const formattedDate = `รายการประจำวันที่ ${day} ${thaiMonth} ${year}`;

    document.getElementById("topic").value = formattedDate;

    const topic = document.getElementById("topic");
    const description = document.getElementById("description");
    const user = document.getElementById("name");
    const FilePathFromLocal = localStorage.getItem("filePath");

    const inputValue = document.getElementById("text_fromLocal");
    const textFromLocal = localStorage.getItem("text");

    inputValue.innerHTML = textFromLocal;

    $("#btn_save").click(function () {
      const data = {
        topic: topic.value,
        des: description.value,
        text: textFromLocal,
        file_path: FilePathFromLocal,
        user: user.value,
      };
      // console.table(data);
      fetch("/save", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },

        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.message !== "success") {
            Swal.fire({
              position: "top-center",
              icon: "error",
              title: "ไม่สามารถจัดเก็บข้อมูลได้",
              text: "กรุณาลองอีกครั้ง",
              timer: 2000,
              timerProgressBar: true,
            });
          } else {
            Swal.fire({
              position: "top-center",
              icon: "success",
              title: "บันทึกข้อมูลสำเร็จ",
              text: "จัดเก็บข้อมูลในห้องสมุดของคุณเรียบร้อย",
              timer: 2000,
              timerProgressBar: true,
            });
            setTimeout(function () {
              window.location.href = "/library";
            }, 2000);
          }
        })
        .catch((error) => console.error(error));
    });
  </script>
</html>
