<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library#{{row[0]}}</title>

    <!-- fav-icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/newlogo.png') }}" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <nav class="navbar fixed-top mb-5">
        <div class="container-fluid mx-2">
            <a href="/library" class="navbar-brand">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            <div class="d-flex menu_bar">
                <i class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">เมนู</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <a href="/detect" class="">
                            <p><i class="fa-solid fa-camera"></i> สแกนข้อความผ่านกล้อง </p>
                        </a>
                        <a href="/pdf_convert" class="">
                            <p><i class="fa-solid fa-file-pdf"></i> แปลงไฟล์ PDF เป็นข้อความ</p>
                        </a>
                        <a href="/library" class="">
                            <p><i class="fa-solid fa-book"></i> ห้องสมุดของคุณ</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container pt-5">
        <div class="row mt-5 text-center">
            <div class="row justify-content-between align-items-center">
                <div class="col-9 col-lg-10 text-start">
                    <h1 class="start_text pt-3">รายการที่ {{ row [0] }}</h1>
                </div>
                <div class="col-3 col-lg-2">
                    <a href="{{ url_for('edit', id=row[0]) }}" class="btn_edit">แก้ไข</a>
                </div>

            </div>

            <p class="text-secondary pt-3">
                รายการเอกสารไฟล์ PDF ของคุณ สามารถแก้ไขรายระเอียด และลบรายการได้
            </p>
            <div class="col-12 text-start pt-5">
                <h3 class="fw-bold pb-3">หัวข้อ: {{row[1]}}</h3>
                <h5 class="fw-bold pb-3">รายละเอียด: {{row[2]}}</h5>
                <div class="dropdown">
                    <a class="btn_dropdown p-3" role="button" id="dropdown_speech" data-bs-toggle="dropdown" aria-expanded="true">
                  เลือกเสียงบรรยาย <i class="fa-solid fa-caret-down"></i>
                </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdown_speech">
                        <li class="dropdown-item w-100" onclick="setSpeaker(0)">เสียงผู้ชาย</li>
                        <li class="dropdown-item w-100" onclick="setSpeaker(1)">เสียงผู้หญิง</li>
                        <li class="dropdown-item w-100" onclick="setSpeaker(2)">เสียงเด็กผู้ชาย</li>
                        <li class="dropdown-item w-100" onclick="setSpeaker(3)">เสียงเด็กผู้หญิง</li>
                    </ul>
                </div>
                <audio id="audio" class="w-100 audio my-3" controls autoplay></audio>
                <p style="font-size: 18px;">ข้อความที่ได้รับ:</p>
                <p id="text" class="w-100 text_re pt-3" style="height: 200px;">{{row[3]}}</p>


            </div>

        </div>
    </div>
    <footer class="d-flex justify-content-between align-items-center px-3">
        <a class="navbar-brand">
            <img src="{{ url_for('static', filename='images/newlogo.png') }}" alt="">
        </a>
        <p class="text_foot">© 2022 SNP65 , All Rights Reserved</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        var text_pdf = document.getElementById("text").textContent;
        let textToJSON = JSON.stringify(text_pdf);

        async function play_wav(wav) {
            const audioSource = document.getElementById("audio");
            const result = await fetch(wav, {
                headers: {
                    "Apikey": "letBGyiaspJ9ERccDfEB5R4vKeCMKfQy",
                },
            });

            const blob = await result.blob();
            if (blob) {
                audioSource.src = URL.createObjectURL(blob);
            }
        }

        function sendAjaxRequest(speaker) {
            var settings = {
                url: "https://api.aiforthai.in.th/vaja9/synth_audiovisual",
                method: "POST",
                headers: {
                    Apikey: "letBGyiaspJ9ERccDfEB5R4vKeCMKfQy",
                    "Content-Type": "application/json",
                },
                data: JSON.stringify({
                    input_text: textToJSON,
                    speaker: speaker,
                    phrase_break: 0,
                    audiovisual: 0,
                }),
            };

            $.ajax(settings).done(function(response) {
                play_wav(response.wav_url);
            });
        }
        sendAjaxRequest(0);
    });

    function setSpeaker(speaker) {
        console.log(speaker)
        sendAjaxRequest(speaker);
    }

    function sendAjaxRequest(speaker) {
        var text_pdf = document.getElementById("text").textContent;
        let textToJSON = JSON.stringify(text_pdf);

        var settings = {
            url: "https://api.aiforthai.in.th/vaja9/synth_audiovisual",
            method: "POST",
            headers: {
                "Apikey": "letBGyiaspJ9ERccDfEB5R4vKeCMKfQy",
                "Content-Type": "application/json",
            },
            data: JSON.stringify({
                input_text: textToJSON,
                speaker: speaker,
                phrase_break: 0,
                audiovisual: 0,
            }),
        };

        $.ajax(settings).done(function(response) {
            play_wav(response.wav_url);
        });
    }

    async function play_wav(wav) {
        const audioSource = document.getElementById("audio");
        const result = await fetch(wav, {
            headers: {
                "Apikey": "letBGyiaspJ9ERccDfEB5R4vKeCMKfQy",
            },
        });

        const blob = await result.blob();
        if (blob) {
            audioSource.src = URL.createObjectURL(blob);
        }
    }
</script>
<script>
    //dropdown show list
    const dropdownButton = document.querySelector('#dropdown_speech');
    const dropdownItems = document.querySelectorAll('.dropdown-item');
    dropdownItems.forEach(item => {
        $(item).click(function(e) {
            e.preventDefault();
            dropdownButton.textContent = item.textContent;
        });

    });
</script>